.Rhistory
/home/vincent/Metagenomics_2024/Day_1/.Rhistory
Day_1/Introduction.odp
/home/vincent/Metagenomics_2024/Day_1/R_practical_beginner.Rmd
/home/vincent/Metagenomics_2024/Day_1/R_practical_beginner_files
/home/vincent/Metagenomics_2024/Day_2/Day2_diversity.Rmd
/home/vincent/Metagenomics_2024/Day_2/Day2_Phyloseq.Rmd
/home/vincent/Metagenomics_2024/Day_2/diversity indices.odp
/home/vincent/Metagenomics_2024/Day_2/.~lock.diversity indices.odp#
/home/vincent/Metagenomics_2024/temp.R
